span {
     background: #FF00FF; 
    color: #fff;
}
img{
    float: left;
    display: block;
    width:40%;
    margin-top: 0;
    background-size: cover;
}
h1 {
     font-size: 60px;
    font-style: italic; 
    text-decoration: underline #FF00FF;
    text-transform: uppercase;
    transform: rotateZ(-5deg);
    margin: 20px;
    position: relative;
    right: 2%;
    padding-top: 2%;
}
.content{
    display: block;
    float: left;
    text-align: justify;
    width: 20%;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
}
p:last-child {
     background: #000000;
    color: #fff;
}